<style>
.thumbnail {
  float: left;
  border: 2px solid silver;
  padding: 3px;
  width: 400px;
  margin-bottom: 15px;
  margin-right: 20px;
  border-radius: 5px;
}
.thumbnail p {
  font-size: smaller;  
}
.thumbnail p.description {
  padding:10px;
  text-align: justify;
  text-justify: inter-word;
}
.thumbnail img.villain_img {
    width: 100%;
}
.clear {
	clear:both;
}
</style>

<div ng-if="conversations !== undefined">
	<div ng-repeat="conversation in conversations">
	    <div class="thumbnail">
	      <a href="#/conversation/{{conversation.conversationId}}"><img class="villain_img" src="{{ conversation.villian.imageURL }}" /></a>
	      <div class="caption">
	        <p class="description">{{conversation.villian.description}}</p>
	      </div>
	    </div>
	    <div ng-if="$index%2==1">
	    	<div class="clear"></div>
	    </div>
	</div>
</div>
<div ng-if="conversations === undefined">
	<div>No conversations yet.</div>
</div>
