<style>
	.conversation {
	  border: 2px solid silver;
	  padding: 3px;
	  width: 640px;
	  margin-bottom: 15px;
	  border-radius: 5px;
	}
	.conversation div.caption {
	  font-size: smaller;  
	  padding:10px;
	  text-align: justify;
	  text-justify: inter-word;
	}
	.conversation .title_messages {
		padding: 10px;
	}
	.conversation .messages {
		padding: 10px;	
	}
	.conversation .message {
		position: relative;
		border-radius: 5px;
		padding: 10px;
		background-color: #e8e8ed;
		font-size: smaller;
		height: 50px;
		font-family: serif
	}
	.conversation .message .timestamp {
		font-size: smaller;
		float: right;
		padding: 3px;
		font-family: serif;
	    position: absolute;
	    bottom: 0px;
	    right: 0px;
	}
	.conversation .message .sender_0 {
		float: left;
	}
	.conversation .message .sender_1 {
		float: left;
		margin-left: 35px;
	}
	.conversation .message .sender_2 {
		float: left;
		margin-left: 70px;
	}
	.conversation .message .sender_img {
		height:64px;
		width:64px;
		border-radius: 150px;
		margin-right: 20px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
	}
	.conversation .message .statement {
		floar:right;
	}
</style>
<div class="conversation">
	<img class="villain_img" src="{{ conversation.villian.imageURL }}" />
	<div class="caption">
		<p class="description">{{conversation.villian.description}}</p>
	</div>
	<h3 class="title_messages">MESSAGES:</h3>
	<div ng-repeat="message in messages" class="messages">
	    <div class="message">
	    	<div class="animate-switch-container sender sender_{{$index}}"
		    ng-switch on="message.sender">
		      <div class="animate-switch" ng-switch-when="S.H.I.E.L.D.">
		      	<img src="images/fury.png" class="sender_img"/>
		      </div>
		      <div class="animate-switch" ng-switch-when="Captain America">
		      	<img src="images/captain.png" class="sender_img"/>
		      </div>
		      <div class="animate-switch" ng-switch-when="Hulk">
		      	<img src="images/hulk.png" class="sender_img"/>
		      </div>
		      <div class="animate-switch" ng-switch-when="Iron Man">
		      	<img src="images/tony.png"class="sender_img"/>
		      </div>
		    </div>
	    	
	    	<div class="statement">{{message.message}}</div>
	    	<div class="timestamp">{{message.timestamp}}</div>
	    </div>
	</div>
</div>